*{
    background-color: #f1eeee;
}

.wrapper {
    border: 2px solid darkgrey;
    border-radius: 8em;
    width: 600px;
    height: 800px;
    position: absolute;
    top: 10%;
    left: 35%;
}


.user {
    text-align: center;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: black;
}

.username {
    text-align: center;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: black;
    border: 2px solid rgb(224, 151, 135);
    border-radius: 2em;
    width: 300px;
    height: 50px;
}

.email {
    text-align: center;
    position: absolute;
    top:48%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: black;
    border: 2px solid rgb(224, 151, 135);
    border-radius: 2em;
    width: 300px;
    height: 50px;
}

.pwd {
    text-align: center;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: black;
    border: 2px solid rgb(224, 151, 135);
    border-radius: 2em;
    width: 300px;
    height: 50px;
}

.confirmpwd {
    text-align: center;
    position: absolute;
    top: 72%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: black;
    border: 2px solid rgb(224, 151, 135);
    border-radius: 2em;
    width: 300px;
    height: 50px;
}

.signupbutton {
    text-align: center;
    position: absolute;
    top: 87%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: black;
    border: 2px solid rgb(224, 151, 135);
    border-radius: 2em;
    width: 100px;
    height: 30px;
}

.signup_button {
    color: black;
    text-decoration: none;
}

.signup_button:hover {
    color: tomato;
    text-decoration: none;
}

.login {
    text-align: center;
    position: absolute;
    top: 82%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: black;
}

.loginhere {
    color: coral;
    text-decoration: none;
}

.loginhere:hover {
    color: tomato;
}