{% load static %}
<!Doctype >
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="mypage.css">
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css"
  />
  <link rel="stylesheet" href="{% static 'mypage/css/mypage.css' %}">
    <title>mypage</title>
</head>
<body>
  <div class="main_box">
    <div class="toggle" id="toggle">
      <header class = "toggle_header">
        <p class="toggle_logo">The hotel</p>
        <i class="fas fa-arrow-alt-circle-left fa-2x" id="toggle_cls_btn"></i>
        <div class="user_picture">
          <i class="fas fa-user-alt fa-5x"></i>
        </div>
        <p class="user_name">
          CEO MA
        </p>
      </header>
      <ul class="toggle_dashboard">
        <li><a href="#"><i class="fas fa-home"></i>Home</a></li>
        <li><a href="#"><i class="fas fa-user-circle"></i>My page</a></li>
        <li><a href="#">null</a></li>
        <li><a href="#"><i class="fas fa-sign-out-alt"></i>Logout</a></li>
      </ul>
    </div>
    <div class="wrapper">
      <div class="mypage_title">
        <i class="fas fa-align-justify fa-2x" id="toggle_open_btn"></i>
        <p id="mypage_text">Personal information</p>
      </div>
      <div class="check_in_out">
  
            <div class="check_in">
              <p class="check_in_title">check in</p>
              <p class="check_in_day">3월 1일</p>
            </div>
            <div class="check_out">
              <p class="check_out_title">check out</p>
              <p class="check_out_day">3월 4일</p>
            </div>
            <div class="total_day">
              <p>Total Day: 3박 4일</p>
            </div>
  
      </div>
      <div class="people_number">
          <li><p id="people_number_title">예약인원</p></li>
          <li><p id="adult">어른: 2명</p></li>
          <li><p id="children">어린이: 2명</p></li>
          <li><p id="total_people">총인원: 4명</p></li>
  
      </div>
      <div class="modify_reservation">
        <p>예약 및 수정</p>
        <button type="button" class="btn btn-secondary btn-lg">예약 수정 바로가기</button>
      </div>
      <div class="room_picture">
        <div class="pic_view_box">
          <li><img class="pictures" src="{% static "mypage/img/room1.jpg" %}" alt=""></li>
            <li><img class="pictures" src="{% static "mypage/img/room2.jpg" %}"    alt=""></li>
            <li><img class="pictures" src="{% static "mypage/img/room3.jpg" %}"    alt=""></li>
        </div>
  
        <i class="fas fa-chevron-circle-right fa-3x" id="next_btn"></i>
        <i class="fas fa-chevron-circle-left fa-3x" id="prev_btn"></i>
      </div>
      <div class="room_information">
          <h2 class="room_information_title">객실정보</h2>
          <p class="kind_of_room">Suite room</p>
          <p class="room_number">room number 201</p>
      </div>
    </div>
  </div>
    <script src="{% static 'mypage/js/mypage.js' %}"></script>
  </body>
</html>
