{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="{% static 'signin/css/signin.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css" />
</head>

<body>
  <div class="wrapper">

    <a href="#" class="mainlogo"><i class="far fa-hand-scissors fa-4x"></i></a>

    <div class="welcome">
      <h1>Welcome!</h1>
      <h3>Sign in to your account</h3>
    </div>
    <form id="form_id" action="{% url 'signin' %}" method="POST">
      {% csrf_token %}
      <input id="id" type="text" name="username" placeholder="Enter your username" required>

      <input id="pwd" type="password" name="password" placeholder="password" required>

      <a id="form_submit" onclick="a_tagSubmit()" class="signup"><b>Sign up with &nbsp;</b><i class="far fa-hand-scissors fa-1x"></i></a>
    </form>
  </div>
  <script>
    function a_tagSubmit() {
      document.getElementById('form_id').submit();
    }
  </script>
</body>

</html>